encryption/config.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name='configurations'>
	   <xs:complexType>
		  <xs:sequence>
			 <xs:element name="operation" type="xs:string"/>
			 <xs:element name="algorithm" type="xs:string"/>
			 <xs:element name="sourceDir" type="xs:string"/>
			 <xs:element name="sourceFile" type="xs:string"/>
			 <xs:element name="keySourceFile" type="xs:string"/>
			 <xs:element name="destPath" type="xs:string"/>
			 <xs:element name="keyDestPath" type="xs:string"/>
		  </xs:sequence>
	   </xs:complexType>		
	</xs:element>   
</xs:schema>